:root{
  --azzurro: #B4D0E7;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
}

body{
  font-family: 'Open Sans', sans-serif;
}


img{
  width: 100%;
}

h1{
  margin-top: 90px;
  font-size: 4.8rem;
  font-weight: 800;
}

h2{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 70px;
}

.business h2{
  margin-bottom: 40px;
}

h4{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 35px 0 25px 0;
}

/* .partner .container-s .testo h4{
  text-align: center;
} */

/* Utility */
.d-flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.justify-content-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

/* /Utility */
header{
  background-color: white;
  height: 80px;
  width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

/* menu */
.menu{
  
  height: 100%;
}

.menu-sinistra,
.menu-destra{
  margin: 0 30px;
  
  width: 30%;
  max-height: 40px;
}


header .btn-free{
  padding: 8px 15px;
  margin: 0;
}


/* liste nav  */


.menu-destra nav ul,
.menu-sinistra nav ul{
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.menu-destra nav ul li{
  margin: 0 30px;
}
.menu-sinistra nav ul li{
  margin: 0 25px;
}


.menu-destra nav ul li a,
.menu-sinistra nav ul li a{
  text-decoration: none;
  color: black;
}

.menu-destra nav ul li a:hover,
.menu-sinistra nav ul li a:hover{
  margin-bottom: 1px solid  black;
}
/* /menu */

/* hero */
  .hero{
    background-color: var(--azzurro);
    height: 750px;
    margin-top: 80px;
  }

.hero-sinistra,
.hero-destra{
  margin-top: 50px;
}

.hero-sinistra{
  max-width: 35%;
  
}

.hero-sinistra p{
  font-size: 1.1rem;
}


.hero-sinistra .btn-free{
  padding: 10px 3px;
  margin: 40px 230px 30px 0;
}

.hero-sinistra .freccia{
  margin-top: 60px;
  font-size: 1.5rem;
  font-weight: 800;
}

/* /hero */


/* container */
.container-l,
.container-s{
  width: 99%;
  margin: 0 auto;
}
.container-l{
  max-width: 1200px;
}

.container-s{
  max-width: 1000px;
  margin-top: 50px;
}
/* /container */

/* piano */
.piano{
  margin: 100px 0 150px 0;
}

/* radio */
.radio-btn{
  margin-right: 30px;
}

.card{
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 1100px;
}

.card-centrale{
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;

}

.card-top{
  text-align: center;
  line-height: 2.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.card-text{
  margin: 0 20px;
}

.prezzo{
  font-weight: bold;
}
.no-prezzo{
  font-weight: bold;
  margin-bottom: 70px;
}

.prezzo::before{
  content: ' \20AC';
}

.mese{
  color: #666666;
  margin: 20px 0 50px 0;
}

.card-text nav ul{
  list-style: none;
  margin: 0 20px;
  
}
ul.stile li{
  font-family: FontAwesome;
}

ul.check li{
  font-family: FontAwesome;
  list-style-type: '\f00c';
  color: #0061FF;
  margin-top: 30px;
}

ul.stile li span,
ul.check li span{
  font-family: 'Open Sans', sans-serif;
  color: black;
  margin-left: 3px;
}

.card-text nav ul li{
  margin-bottom: 24px;
}


.stile li:nth-child(1){
    list-style-type: '\f007';
  }
.stile li:nth-child(2){
  list-style-type: '\f07b';
}
.stile li:nth-child(3){
  list-style-type: '\f1e0';
}
.stile li#gruppo{
  list-style-type: '\f0c0';
}


.btn-free{
  background-color: #0061FF;
  color: white;
  text-align: center;
  font-size: .9rem;
  padding: 10px 0px;
  margin: 50px 0 35px 0
}


.btn-free#enter{
  margin: 29px auto
}


.destra .btn-free{
  margin: 30px;
}

.partner .container-s .testo .btn-free{
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: 20px 200px 0 0;
  padding: 10px 5px;

  font-size: .9rem;
  font-weight: 600;

}
.divisore{
  width: 50px;
  margin: 40px 0 50px 0;
  border-bottom: 1px solid black;
}

/* /piano */

/* card centrale */
.card-bottom{
  height: 250px;
}

.card-bottom .sinistra{
  width: 69%;
  margin-left: 30px;
}
.card-bottom .destra{
  width: 29%;
}

span.bold{
  font-weight: bold;
}

.sinistra p{
  margin-top: 50px;
}
/* /card centrale */

/* partner */
  .partner{
    margin-bottom: 150px;
  }

  .partner .container-s .img-box{
    width: 60%;
  }

  .partner .container-s .testo{
    width: 40%;
    margin: 40px;
  }

  
/* /partner */

/* Business */
.business .container-s{

}
.business .container-s .col{
  width: calc(100% / 3);
  padding: 0 10px;
}

.business .container-s .row{
  margin-bottom: 75px;
}
/* /Business */